@font-face {
    font-family: FuturaPTLightOblique;
    src: url(/public/fonts/FuturaPTLightOblique.otf);
}

@font-face {
    font-family: FuturaPTDemi;
    src: url(/public/fonts/FuturaPTDemi.otf);
}

@font-face {
    font-family: FuturaPTLight;
    src: url(/public/fonts/FuturaPTLight.otf);
}

header {
    padding: 0;
    font-size: 22px;
    font-weight: 200;
    font-family: FuturaPTLightOblique, sans-serif;
}

header ul {
    text-align: center;
}

header ul li {
    font-family: FuturaPTLight, sans-serif;
    list-style: none;
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

header ul li a:hover {
    color: #888;
    text-decoration: none;
}

footer {
    display: block;
    background: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
}

a:hover {
    text-decoration: none;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.layer {
    height: 250px;
    margin-top: 0;
    text-align: center;
    background-size: cover;
    color: #fff;
    font-size: 52px;
    padding-top: 50px;
    font-family: FuturaPTLight, sans-serif;
}

.masonry {
    margin: 0;
    padding: 0;

    column-gap: 1.5em;
    font-size: .85em;

    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    text-align: center;
    font-size: 52px;
    font-family: FuturaPTLightOblique, sans-serif;
    font-weight: bold;
    padding: 50px 0;
}

.title .description {
    font-size: 32px;
    font-weight: normal;
    font-family: FuturaPTLight, sans-serif;
    color: #aaa;
}

.product-description {
    font-size: 14px;
    font-family: FuturaPTLight, sans-serif;
}

.img-layer {
    height: 300px;
    background-color: #ccc;
    background-size: cover;
}

.price {
    font-size: 16px;
}

.image-background {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.category_list {
    text-align: center;
    margin-bottom: 10px;
}

.category_list a {
    color: #888;
    margin-left: 10px;
}

.category_list a:first-child {
    margin-left: 0px;
}

.category_list a:hover {
    color: #666;
    text-decoration: none;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 60px;
    left: 40px;
    display: none;
    text-indent: 9999px;
    background: url('/public/images/top.png') no-repeat;
    transition: all 0.3s ease;
}

.scrollup:hover {
    opacity: .6;
}

@media only screen and (min-width: 120px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .top-head > div {
        text-align: center;
    }

    .layer {
        font-size: 150%;
    }

    .title {
        font-size: 32px;
    }

    .title .description {
        font-size: 22px;
    }

    .product-cat .product-name {
        font-size: 18px;
        margin: 10px;
    }

    header ul li a {
        font-size: 12px;
    }

    .top-head {
        font-size: 17px
    }

    .breadcrumbs {
        font-size: 13px;
    }

    .modal {
        font-size: 12px;
    }
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .top-head > div {
        text-align: center;
    }

    .layer {
        font-size: 170%;
    }

    .title {
        font-size: 38px;
    }

    .title .description {
        font-size: 24px;
    }

    .product-cat .product-name {
        font-size: 20px;
        margin: 10px;
    }

    header ul li a {
        font-size: 14px;
    }

    .top-head {
        font-size: 18px
    }

    .breadcrumbs {
        font-size: 14px;
    }

    .modal {
        font-size: 13px;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    .top-head > div {
        text-align: center;
    }

    .layer {
        font-size: 200%;
    }

    .title {
        font-size: 42px;
    }

    .title .description {
        font-size: 28px;
    }

    .product-cat .product-name {
        font-size: 22px;
        margin: 10px;
    }

    header ul li a {
        font-size: 16px;
    }

    .top-head {
        font-size: 19px
    }

    .breadcrumbs {
        font-size: 15px;
    }

    .modal {
        font-size: 14px;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }

    .top-head > div {
        text-align: center;
    }

    .layer {
        font-size: 220%;
    }

    .title {
        font-size: 48px;
    }

    .title .description {
        font-size: 30px;
    }

    .product-cat .product-name {
        font-size: 24px;
        margin: 10px;
    }

    header ul li a {
        font-size: 18px;
    }

    .top-head {
        font-size: 20px
    }

    .breadcrumbs {
        font-size: 16px;
    }

    .modal {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    .top-head > div {
        text-align: center;
    }

    .title {
        font-size: 52px;
    }

    .title .description {
        font-size: 32px;
    }

    .product-cat .product-name {
        font-size: 26px;
        margin: 10px;
    }

    .top-head {
        font-size: 22px
    }

    .breadcrumbs {
        font-size: 18px;
    }

    .modal {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

.top-head p {
    padding: 0;
    margin: 0;
}

.product-cat .product-name {

    text-align: center;
}

.breadcrumbs {
    margin-bottom: 15px;
}

.product-price {
    margin-top: 10px;
}

.feedback-open{
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    position: fixed;
    right: 40px;
    bottom: 60px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #000;
    opacity: .3;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        box-shadow: 0 0 0 50px rgba(204,169,44, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}